<div class="page-header">
  <h1>Dashboard</h1>
</div>

<% if user_signed_in? %>
  <p><%= link_to 'My Diaries', diaries_path %></p>
  <p><%= link_to 'My Prescriptions', prescriptions_path %></p>
<% end %>
