<div class="page-header">
  <h1>Diaries</h1>

  <ul class="actions">
    <li><%= link_to "New Diary", new_diary_path,
      class: "btn btn-success" %></li>
  </ul>
</div>

<% @diaries.each do |diary| %>
  <p>
    <strong>Title</strong>: <%= link_to diary.title, diary %><br>
  </p>
<% end %>
