<div class="page-header">
  <h1><%= @diary.title %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Diary",
      edit_diary_path(@diary), class: "btn btn-primary" %></li>
    <li><%= link_to "Delete Project",
      diary_path(@diary),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this diary?" },
      class: "btn btn-danger" %></li>
  </ul>
</div>

<!-- <h1><%#= @diary.title %></h1> -->
<p><%= @diary.description %></p>
